<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>james.h</string>
		<key>creation_date</key>
		<date>2019-03-27T08:20:05Z</date>
		<key>munki_version</key>
		<string>3.6.0.3721</string>
		<key>os_version</key>
		<string>10.14.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string></string>
	<key>display_name</key>
	<string>JumpCloud</string>
	<key>installer_item_hash</key>
	<string>97a3f3e4060590fa485bc3559213831f214f4a3891188912e48698a702e4aeba</string>
	<key>installer_item_location</key>
	<string>Jumpcloud-0.0.pkg</string>
	<key>installer_item_size</key>
	<integer>17</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>Jumpcloud</string>
	<key>receipts</key>
	<array/>
	<key>unattended_install</key>
	<false/>
	<key>unattended_uninstall</key>
	<false/>
	<key>version</key>
	<string>0.0</string>
</dict>
</plist>
